In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# DDL: Data Definition Language
# DML: Data Manipulation Language

In [ ]:
def db_ddl(cmd):
    conn = sqlite3.connect("./Data/database.db")
    c = conn.cursor()
    c.execute(cmd)
    data = c.fetchall()
    conn.close()
    return data

def db_dml(cmd, value=0):
    conn = sqlite3.connect("./Data/database.db")
    c = conn.cursor()
    if value:
        c.execute(cmd, value)
    else: 
        c.execute(cmd)
    conn.commit()
    conn.close()
    
def drop_table(table):
    db_ddl("drop table '{}'".format(table))
    
def read_table(table):
    conn = sqlite3.connect("./Data/database.db")
    data = pd.read_sql_query("select * from {}".format(table), conn)
    conn.close()
    return data

def check_data(data_list):
    return len(set([len(i) for i in data_list]))

In [ ]:
#initialize db
db_dml("")

In [ ]:
# db definitions
tables = ['EMPLOYEE', 'DEPARTMENT', 'DEPT_LOCATIONS', 'PROJECT', 'WORKS_ON', 'DEPENDENT']
employee = "('Fname' varchar(255), 'Minit' int, 'Lname' varchar(255), 'Ssn' int, 'Bdate' date, 'Address' varchar(255), 'Sex' varchar(255), 'Salary' float, 'Super_ssn' int, 'Dno' int, primary key ('Ssn'))"
department = "('Dname' varchar(255), 'Dnumber' int, 'Mgr_ssn' int, 'Mgr_start_date' date, primary key ('Dnumber'))"
dept_locations = "('Dnumber' int, 'Dlocation' varchar(255), primary key(Dnumber, Dlocation))"
project = "('Pname' varchar(255), 'Pnumber' int, 'Plocation' varchar(255), 'Dnum' int, primary key ('Pnumber'))"
works_on = "('Essn' int, 'Pno' int, 'Hours' float, primary key ('Essn', 'Pno'))"
dependent = "('Essn' int, 'Dependent_name' varchar(255), 'Sex' varchar(255), 'Bdate' date, 'Relationship' varchar(255), primary key(Essn, Dependent_name))"
fields = [employee, department, dept_locations, project, works_on, dependent]

In [ ]:
for i in range(len(tables)):
    db_ddl("create table if not exists {} {}".format(tables[i], fields[i]))

In [ ]:
# check tables in database
conn = sqlite3.connect("./Data/database.db")
print(pd.read_sql_query("select name from sqlite_master where type='table'", conn))

In [ ]:
# check table definitions
for i in tables:
    print(i, ' TABLE\n', pd.read_sql_query("select * from pragma_table_info('{}')".format(i), conn), '\n')

In [ ]:
for i in tables:
    print(i, ' TABLE\n', list(pd.read_sql_query("select name from pragma_table_info('{}')".format(i), conn)['name']), '\n')

In [ ]:
# EMPLOYEE table
Fname = ['John', 'Franklin', 'Alicia', 'Jennifer', 'Ramesh', 'Joyce', 'Ahmad', 'James']
Minit = ['B', 'T', 'J', 'S', 'K', 'A', 'V', 'E']
Lname = ['Smith', 'Wong', 'Zelaya', 'Wallace', 'Narayan', 'English', 'Jabbar', 'Borg']
Ssn = [123456789, 333445555, 999887777, 9876554321, 666884444, 453453453, 987987987, 888665555]
Bdate = ['1965-01-09', '1955-12-08', '1968-01-19', '1941-06-20', '1962-09-15', '1972-07-31', '1969-03-29', '1937-11-10']
Address = ['731 F, Houston, TX', '638 V, Houston, TX', '3321 C, Spring, TX', '291 B, Bellaire, TX', '975 F, Humble, Tx', '5631 R, Houston, TX', '980 D, Houston, TX', '450 S, Houston, TX']
Sex = ['M', 'M', 'F', 'F', 'M', 'F', 'M', 'M']
Salary = [30000, 40000, 25000, 43000, 38000, 25000, 25000, 55000]
Super_ssn = [333445555, 888665555, 987654321, 888665555, 333445555, 333445555, 987654321, (None)]
Dno = [5, 5, 4, 4, 5, 5, 4, 1]
employee_table = [Fname, Minit, Lname, Ssn, Bdate, Address, Sex, Salary, Super_ssn, Dno]

In [ ]:
for i in range(len(Fname)):
    db_dml("insert or ignore into employee ('Fname', 'Minit', 'Lname', 'Ssn', 'Bdate', 'Address', 'Sex', 'Salary', 'Super_ssn', 'Dno') values(?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", (Fname[i], Minit[i], Lname[i], Ssn[i], Bdate[i], Address[i], Sex[i], Salary[i], Super_ssn[i], Dno[i]))

In [ ]:
# Check table values
read_table('EMPLOYEE')

In [ ]:
# DEPARTMENT Table
Dname = ['Research', 'Administration', 'Headquarters']
Dnumber = [5, 4, 1]
Mgr_ssn = [333445555, 987654321, 888665555]
Mgr_start_date = ['1988-05-22', '1995-01-01', '1981-06-19']

In [ ]:
for i in range(len(Dname)):
    db_dml("insert or ignore into department ('Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date') values (?, ?, ?, ?)", (Dname[i], Dnumber[i], Mgr_ssn[i], Mgr_start_date[i]))

In [ ]:
read_table('DEPARTMENT')

In [ ]:
# DEPT_LOCATIONS table
Dnumber = [1, 4, 5, 5, 5]
Dlocation = ['Houston', 'Stafford', 'Bellaire', 'Sugarland', 'Houston']

In [ ]:
for i in range(len(Dnumber)):
    db_dml("insert or ignore into dept_locations ('Dnumber', 'Dlocation') values (?, ?)", (Dnumber[i], Dlocation[i]))

In [ ]:
read_table('dept_locations')

In [ ]:
# WORKS_ON table
Essn = [123456789, 123456789, 666884444, 453453453, 453453453, 333445555, 333445555, 333445555, 333445555, 999887777, 999887777, 987987987, 987987987, 987654321, 987654321, 888665555]
Pno = [1, 2, 3, 1, 2, 2, 3, 10, 20, 30, 10, 10, 30, 30, 20, 20]
Hours = [32.5, 7.5, 40, 20, 20, 10, 10, 10, 10, 30, 10, 35, 5, 20, 15, None]
works_on_table = [Essn, Pno, Hours]

In [ ]:
check_data(works_on_table)

In [ ]:
for i in range(len(Essn)):
    db_dml("insert or ignore into works_on ('Essn', 'Pno', 'Hours') values (?, ?, ?)", (Essn[i], Pno[i], Hours[i]))

In [ ]:
read_table("works_on")

In [ ]:
# PROJECT table
Pname = ['ProductX', 'ProductY', 'ProductZ', 'Computerization', 'Reorganization', 'Newbenefits']
Pnumber = [1, 2, 3, 10, 20, 30]
Plocation = ['Bellaire', 'Sugarland', 'Houston', 'Stafford', 'Houston', 'Stafford']
Dnum = [5, 5, 5, 4, 1, 4]
project_table = [Pname, Pnumber, Plocation, Dnum]

In [ ]:
for i in range(len(Pname)):
    db_dml("insert or ignore into project ('Pname', 'Pnumber', 'Plocation', 'Dnum') values (?, ?, ?, ?)", (Pname[i], Pnumber[i], Plocation[i], Dnum[i]))

In [ ]:
read_table('project')

In [ ]:
# DEPENDENT
Essn = [333445555, 333445555, 333445555, 987654321, 123456789, 123456789, 123456789]
Dependent_name = ['Alice', 'Theodore', 'Joy', 'Abner', 'Michael', 'Alice', 'Elizebeth']
Sex = ['F', 'M', 'F', 'M', 'M', 'F', 'F']
Bdate = ['1986-04-05', '1983-10-25', '1958-05-03', '1942-02-28', '1988-01-04', '1988-12-30', '1967-05-05']
Relationship = ['Daughter', 'Son', 'Spouse', 'Spouse', 'Son', 'Daughter', 'Spouse']
dependent_table = [Essn, Dependent_name, Sex, Bdate, Relationship]

In [ ]:
check_data(dependent_table)

In [ ]:
for i in range(len(Essn)):
    db_dml("insert or ignore into dependent (Essn, Dependent_name, Sex, Bdate, Relationship) values (?, ?, ?, ?, ?)", (Essn[i], Dependent_name[i], Sex[i], Bdate[i], Relationship[i]))

In [ ]:
for i in tables:
    print(i, '\n', read_table(i))

In [ ]:
# Retrieve ssns of employees who work on all projects that John Smith works on

In [ ]:
conn = sqlite3.connect("./Data/database.db")
c = conn.cursor()
c.execute("select essn from works_on where pno=(select works_on.pno from (employee, works_on) where employee.ssn=works_on.essn and employee.fname='John' and employee.lname='Smith')")
data = c.fetchall()
conn.close()